<!-- File: layouts/_default/baseof.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <!-- <header class="top-header">
    <div class="site-logo" style="border-bottom: 1px solid #e5e7eb;;">
        <a href="/">
          <img src="/web-app-manifest-512x512.png" alt="TFT Display Logo">
        </a>
      </div>
      <div class="wrapper">
        <a href="/">
          <img src="/web-app-manifest-512x512.png" alt="TFT Display Logo">
        </a> <h1>TFT Display Technology</h1>
      </div>
    </header> -->

    <header class="top-header">
  <div class="header-content">
    <a href="/" class="logo-link">
      <img src="/logo.png" alt="TFT Display Logo" class="logo">
    </a>
    <p class="site-title">TFT Display Technology</p>
  </div>
</header>

  <div id="wrapper" style="display: flex; min-height: 100vh;">
    <aside class="sidebar">
      
      <!-- <h2>Docs Navigation</h2> -->
      <nav>
        <ul style="list-style: none; padding-left: 0;">
          <li><strong>Fundamentals</strong>
            <ul>
              <li><a href="/posts/what-is-tft-lcd/">What is TFT LCD</a></li>
              <li><a href="/#">TN vs IPS vs VA</a></li>
              <li><a href="/#">Resolution & Aspect Ratio</a></li>
              <li><a href="/#">Brightness and Contrast Ratio</a></li>
            </ul>
          </li>
          <li><strong>Circuit & Interface Design</strong>
            <ul>
              <li><a href="/#">FPC Layout and Pin Mapping</a></li>
              <li><a href="/#">MIPI vs LVDS vs RGB</a></li>
              <li><a href="/#">Backlight Design & Driver Circuits</a></li>
              <li><a href="/#">Cover Len</a></li>
            </ul>
          </li>
          <li><strong>Touch Integration</strong>
            <ul>
              <li><a href="/#">Capacitive Touch Panel (CTP) Basics</a></li>
              <li><a href="/#">Cover Glass + OCA Bonding </a></li>
              <li><a href="/#">Touch Buttons with LED Feedback </a></li>
            </ul>
          </li>
          <li><strong>Calibration & Testing</strong>
            <ul>
              <li><a href="/#">Brightness Calibration</a></li>
              <li><a href="/#">Color Temperature Matching</a></li>
              <li><a href="/#">EMI Testing in Embedded Systems</a></li>
            </ul>
          </li>
          <li><strong>About us</strong>
            <ul>
              <li><a href="/about/">About us</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
    <main style="flex: 1; padding: 2rem;">

      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>

</html>