<!-- File: layouts/_default/baseof.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <!-- <header class="top-header">
    <div class="site-logo" style="border-bottom: 1px solid #e5e7eb;;">
        <a href="/">
          <img src="/web-app-manifest-512x512.png" alt="TFT Display Logo">
        </a>
      </div>
      <div class="wrapper">
        <a href="/">
          <img src="/web-app-manifest-512x512.png" alt="TFT Display Logo">
        </a> <h1>TFT Display Technology</h1>
      </div>
    </header> -->

    <header class="top-header">
  <div class="header-content">
    <a href="/" class="logo-link">
      <img src="/logo.png" alt="TFT Display Logo" class="logo">
    </a>
    <p class="site-title">TFT Display Technology</p>
  </div>
</header>

  <div id="wrapper" style="display: flex; min-height: 100vh;">
    <aside class="sidebar">
      
      <!-- <h2>Docs Navigation</h2> -->
      <nav>
        <ul style="list-style: none; padding-left: 0;">
          <li><strong>TFT LCD Guides</strong>
            <ul>
              <li><a href="/tft-guides/fpc-layout/">FPC Layout</a></li>
              <li><a href="/tft-guides/brightness/">Brightness Calibration</a></li>
            </ul>
          </li>
          <li><strong>Capacitive Touch Panel</strong>
            <ul>
              <li><a href="/tft-guides/fpc-layout/">FPC Layout</a></li>
              <li><a href="/tft-guides/brightness/">Cover Len</a></li>
            </ul>
          </li>
          <li><strong>Interface Standards</strong>
            <ul>
              <li><a href="/interface-standards/mipi-vs-lvds/">MIPI vs LVDS</a></li>
              <li><a href="/interface-standards/lvds-vs-rgb/">LVDS vs RGB </a></li>
            </ul>
          </li>
          <li><strong>TFT Applacations</strong>
            <ul>
              <li><a href="/interface-standards/mipi-vs-lvds/">TFT LCD with RFID</a></li>
              <li><a href="/interface-standards/rgb-mcu-spi/">TFT LCD with Microphone</a></li>
              <li><a href="/interface-standards/rgb-mcu-spi/">TFT LCD binding with Housing</a></li>
              <li><a href="/interface-standards/rgb-mcu-spi/">Touch Button with leds</a></li>
              <li><a href="/interface-standards/rgb-mcu-spi/">Touch Button with leds</a></li>
            </ul>
          </li>
          <!-- <li><strong>FAQ</strong>
            <ul>
              <li><a href="/faq/faq-general/">General Questions</a></li>
            </ul>
          </li> -->
          <li><strong>About us</strong>
            <ul>
              <li><a href="/about-us/">About us</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
    <main style="flex: 1; padding: 2rem;">

      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>

</html>