{{ define "main" }}
<main class="main-content">
  <article class="post">

    <header class="post-header">
      <h1>{{ .Title }}</h1>
      <p class="post-meta">
        <span>Published on {{ .Date.Format "2006-01-02" }}</span>
        {{ with .Lastmod }}
          <span> | Updated on {{ .Format "2006-01-02" }}</span>
        {{ end }}
        <span> | {{ .ReadingTime }} min read</span>
      </p>
    </header>

        {{ if .Params.tags }}
      <div class="post-tags">
        <strong>Tags:</strong>
        {{ range .Params.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}

    <section class="post-content">
      {{ .Content }}
    </section>


<!-- 
    <nav class="post-navigation">
      <div class="nav-prev">
        {{ with .Prev }}
          <a href="{{ .RelPermalink }}">&larr; Previous: {{ .Title }}</a>
        {{ end }}
      </div>
      <div class="nav-next">
        {{ with .Next }}
          <a href="{{ .RelPermalink }}">Next: {{ .Title }} &rarr;</a>
        {{ end }}
      </div>
    </nav> -->

  </article>
</main>
{{ end }}